<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have been assigned to new task</h1>
<p>
  Username: <%= @user %> <br>
</p>
<p>
  You have been assigned in <%= link_to(@task_name, @url) %>

</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>

