<%#if user_signed_in? %>
<!--  <div class="container is-fluid" style="margin-top: 3rem;">-->
<!--    <div class="columns is-multiline" style="justify-content: center; align-items: center;">-->
      <%#= button_to("Create Team", new_team_path, class: "button", method: :get, style: "width: 15rem; background-color: #8080ff") %>
<!--    </div>-->
    <%# if @teams.count == 0 %>
      <%#=link_to "Create a team",new_team_path, class: "card-footer-item" %>
    <%# else %>
<!--      <div class="columns is-multiline" style="justify-content: center; align-items: center;">-->
          <%# @teams.each do |team| %>
<!--            <div class="column is-one-quarter" style="width: 25rem">-->
<!--              <div class="card">-->
<!--                <header class="card-header">-->
<!--                  <p class="card-header-title">-->
<!--                    <%#=team.name %><br>-->
<!--                  </p>-->
<!--                </header>-->
<!--                <div class="card-content">-->
<!--                  <div class="content">-->
                    <%#= team.description %>
<!--                    <br>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <footer class="card-footer">-->
                  <%#= link_to("Show", team_path(team), class: "card-footer-item redirect-link") %>
                  <%#= link_to("Edit", edit_team_path(team), class: "card-footer-item redirect-link") %>
<!--                </footer>-->
<!--              </div>-->
<!--            </div>-->
          <%# end %>
<!--        </div>-->

    <%# end %>
<!--  </div>-->
<%# else %>
<%# end %>

<%= render 'layouts/home' %>
<%= render('layouts/partials/footer') %>
