<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <style>
      @media(max-width: 500px) {
          .reverse-columns {
              flex-direction: column-reverse;
              display: flex;
          }
      }

      .titled {
          font-family: 'Merriweather', serif !important;
          font-size: 58px !important;
          font-weight: 400 !important;
          line-height: 64px !important;
      }

      .subtitled {
          font-family: 'Merriweather', serif !important;
          font-size: 22px !important;
          font-weight: 400 !important;
          line-height: 36px !important;
      }
  </style>
</head>

<body>
<!-- NavBar va a todo lo ancho -->

<!-- Hero del producto -->
<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns  is-vcentered reverse-columns">
        <div class="column
          is-10-mobile
          is-10-tablet
          is-5-desktop
          is-5-widescreen
          is-5-fullhd " data-aos="fade-down">
          <h1 class="title titled is-1 mb-6">
            Welcome to SaaS Project Management!!!
          </h1>
          <div class="buttons">
            <button class="button is-yellow">Better Collaboration..</button>
            <button class="button">Better Results..</button>
          </div>
        </div>
        <div data-aos="fade-right" class="column
          is-10-mobile
          is-10-tablet
          is-4-desktop
          is-7-widescreen
          is-4-fullhd is-offset-1-fullhd">
          <figure class="image is-square">
            <img style="width: 50rem; height: 20rem" src="https://img.freepik.com/free-vector/business-man-described-showing-graph-stock-financial-trade-market-diagram-vector-illustration-flat-design_1150-39768.jpg?w=996&t=st=1681311018~exp=1681311618~hmac=00eac0d38ea0d2b9ab377ba42f67379baba2ae85ce49cd21d2d5b5fce215198f">
          </figure>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns  is-vcentered">
        <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
          <figure class="image is-square">
            <img style="width: 50rem; height: 23rem" src="https://img.freepik.com/free-vector/business-team-discussing-ideas-startup_74855-4380.jpg?size=626&ext=jpg">
          </figure>
        </div>
        <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
          <h1 class="titled title is-1 mb-6">
            Team Management
          </h1>
          <h2 class="subtitled subtitle">
            The nicest thing about teamwork is that you always have others on your side.
          </h2>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns  is-vcentered reverse-columns">
        <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
          <h1 class="title titled is-1 mb-6">
            Project Management
          </h1>
          <h2 class="subtitle subtitled">
            Great things in business are never done by one person. They're done by a team of people.
          </h2>
        </div>
        <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
<!--          <figure class="image is-square">-->
<!--            <img src="../images/undraw_Camera_re_cnp4.svg">-->
<!--          </figure>-->
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div data-aos="zoom-in-up" class="column is-8">
          <h1 class="title titled is-1 mb-6">
            What differentiates us <span id="typewriter"></span>
          </h1>
          <h2 class="subtitle subtitled">

          </h2>
        </div>
      </div>

    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
<script>
    new Typewriter('#typewriter', {
        strings: [" Better collaboration..",
            "Remote working..",
        "Effective task delegation.."],
        autoStart: true,
        loop: true,
    });
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        once: true
    });
</script>
</body>

</html>
